<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-2">
        <div class="col-12 table-panel">
          <table>
            <thead>
              <tr>
                <th rowspan="2">
                  <div style="width: 85px">ช่วงเวลา</div>
                </th>
                <th rowspan="2">
                  <div style="width: 100px">จำนวนรถที่เข้า-ออกสถานี (คัน)</div>
                </th>
                <th rowspan="2">
                  <div style="width: 100px">จำนวนรถบรรทุกที่เข้า-ออกสถานี (คัน)</div>
                </th>
                <th rowspan="2">
                  <div style="width: 100px">ปริมาณการขนถ่ายสินค้าทั้งหมดผ่านสถานี (ตัน)</div>
                </th>
                <th colspan="5">
                  <div>จำนวนรถรับส่งสินค้า (คัน)</div>
                </th>
                <th colspan="5">
                  <div>ปริมาณสินค้ารับส่ง (ตัน)</div>
                </th>
                <th rowspan="2">
                  <div style="width: 80px">จำนวนรถตรวจสภาพ</div>
                </th>
              </tr>
              <tr>
                <th>
                  <div style="width: 65px">ส่งสินค้า</div>
                </th>
                <th>
                  <div style="width: 65px">รับสินค้า</div>
                </th>
                <th>
                  <div style="width: 80px">รับและส่งสินค้า</div>
                </th>
                <th>
                  <div style="width: 50px">อื่นๆ</div>
                </th>
                <th>
                  <div style="width: 50px">รวม</div>
                </th>
                <th>
                  <div style="width: 65px">ส่งสินค้า</div>
                </th>
                <th>
                  <div style="width: 65px">รับสินค้า</div>
                </th>
                <th>
                  <div style="width: 80px">รับและส่งสินค้า</div>
                </th>
                <th>
                  <div style="width: 50px">อื่นๆ</div>
                </th>
                <th>
                  <div style="width: 50px">รวม</div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each reportData}}
              <tr>
                <td>
                  <div class="d-flex justify-content-start">{{this.ByDateTime}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter this.NVehIN}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter this.NVehOUT}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter2 this.WGoodsWOUT}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter this.NSend}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter this.NReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter this.NSendReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter this.NOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{sum this.NSend this.NReceive this.NSendReceive this.NOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter2 this.WSend}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter2 this.WReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter2 this.WSendReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter2 this.WOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{sum2 this.WSend this.WReceive this.WSendReceive this.WOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{this.NVehCHK}}</div>
                </td>
              </tr>
              {{/each}}
              {{#with (SUM reportData)}}
              <tr>
                <td>
                  <div class="d-flex justify-content-start sum-row">รวม</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{0}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{1}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{2}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{3}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{4}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{5}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{6}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{7}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{8}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{9}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{10}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{11}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{12}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{13}}</div>
                </td>
              </tr>
              {{/with}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="page-break-before: always;"></div>
    <div class="container-fluid">
      <div class="row my-3 mx-2 d-flex justify-content-center">
        <div class="col-12 graph-panel d-flex justify-content-center align-items-center">
          <div id="chart1"></div>
        </div>
      </div>
    </div>
    <div style="page-break-before: always;"></div>
    <div class="container-fluid">
      <div class="row my-3 mx-2 d-flex justify-content-center">
        <div class="col-12 graph-panel d-flex justify-content-center align-items-center">
          <div id="chart2"></div>
        </div>
      </div>
    </div>
    <div style="page-break-before: always;"></div>
    <div class="container-fluid">
      <div class="row my-3 mx-2 d-flex justify-content-center">
        <div class="col-12 graph-panel d-flex justify-content-center align-items-center">
          <div id="chart3"></div>
        </div>
      </div>
    </div>
    <div style="page-break-before: always;"></div>
    <div class="container-fluid">
      <div class="row my-3 mx-2 d-flex justify-content-center">
        <div class="col-12 graph-panel d-flex justify-content-center align-items-center">
          <div id="chart4"></div>
        </div>
      </div>
    </div>
    <div style="page-break-before: always;"></div>
    <div class="container-fluid">
      <div class="row my-3 mx-2 d-flex justify-content-center">
        <div class="col-12 graph-panel d-flex justify-content-center align-items-center">
          <div id="chart5"></div>
        </div>
      </div>
    </div>
    {#asset /GCS09/GCS09-chart.js @encoding=utf8}
  </body>
</html>