<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-3">
        <div class="col-12">
          <table>
            <thead>
              <tr>
                <th rowspan="2">
                  <div>วัน-เวลาที่แก้ไข</div>
                </th>
                <th rowspan="2">
                  <div>ผู้ประกอบการ</div>
                </th>
                <th rowspan="2">
                  <div>User Name</div>
                </th>
                <th colspan="4">
                  <div>ข้อมูลที่ได้จากระบบอัตโนมัติ</div>
                </th>
                <th colspan="4">
                  <div>ข้อมูลที่แก้ไขโดยผู้บันทึก</div>
                </th>
              </tr>
              <tr>
                <th colspan="2">
                  <div>ทะเบียนหน้า-จังหวัด</div>
                </th>
                <th colspan="2">
                  <div>ทะเบียนหลัง-จังหวัด</div>
                </th>
                <th colspan="2">
                  <div>ทะเบียนหน้า-จังหวัด</div>
                </th>
                <th colspan="2">
                  <div>ทะเบียนหลัง-จังหวัด</div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each reportData}}
              <tr>
                <td>
                  <div class="d-flex justify-content-center">{{dateTimeFormatter this.qDt}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.Operator}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.UserID}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.F1A}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.F1APName}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.R1A}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.R1APName}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.F1M}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.F1MPName}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.R1M}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.R1MPName}}</div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>