<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-3">
        <div class="col-12 table-panel d-flex justify-content-center">
          <table style="width: 100%">
            <thead>
              <tr>
                <th rowspan="2" style="width: 20%">
                  <div>ภูมิภาค</div>
                </th>
                <th rowspan="2" style="width: 20%">
                  <div>จังหวัด</div>
                </th>
                <th colspan="5" style="width: 30%">
                  <div>จำนวนรถรับส่งสินค้า (คัน)</div>
                </th>
                <th colspan="5" style="width: 30%">
                  <div>ปริมาณสินค้า (ตัน)</div>
                </th>
                <th rowspan="2" style="width: 5%">
                  <div>จำนวนรถตรวจสภาพ</div>
                </th>
              </tr>
              <tr>
                <th style="width: 6%">
                  <div>ส่งสินค้า</div>
                </th>
                <th style="width: 6%">
                  <div>รับสินค้า</div>
                </th>
                <th style="width: 6%">
                  <div>รับและส่งสินค้า</div>
                </th>
                <th style="width: 6%">
                  <div>อื่นๆ</div>
                </th>
                <th style="width: 6%">
                  <div>รวม</div>
                </th>
                <th style="width: 6%">
                  <div>ส่งสินค้า</div>
                </th>
                <th style="width: 6%">
                  <div>รับสินค้า</div>
                </th>
                <th style="width: 6%">
                  <div>รับและส่งสินค้า</div>
                </th>
                <th style="width: 6%">
                  <div>อื่นๆ</div>
                </th>
                <th style="width: 6%">
                  <div>รวม</div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each reportData}}
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">{{this.Description}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-start pl-2">{{this.ProvinceName}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.NSend}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.NReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.NSendReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.NOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{sum this.NSend this.NReceive this.NSendReceive this.NOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.WSend}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.WReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.WSendReceive}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.WOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{sum this.WSend this.WReceive this.WSendReceive this.WOthers}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{numberFormatter this.NVehCHK}}</div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>