<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <table>
            <thead>
              <tr>
                <th style="width: 30%;">
                  <div>ผู้ประกอบการ</div>
                </th>
                <th style="width: 15%;">
                  <div>จุดต้นทาง</div>
                </th>
                <th style="width: 15%;">
                  <div>จุดปลายทาง</div>
                </th>
                <th style="width: 20%;">
                  <div>ประเภทสินค้า</div>
                </th>
                <th style="width: 10%;">
                  <div>ปริมาณ (ตัน)</div>
                </th>
                <th style="width: 10%;">
                  <div>จำนวนเที่ยว</div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each (reportDataFormatter reportData)}}
              <tr>
                <td rowspan="10">
                  <div class="d-flex justify-content-start pl-2">{{this.CompanyName}}</div>
                  <div>
                      <ul>
                          <li>ประเภทการขนส่ง {{this.TransportType}}</li>
                          <li>เลขที่ใบอนุญาต {{this.TransportScope}} {{this.TransportLicenseID}}</li>
                      </ul>
                  </div>
                </td>
                <td rowspan="9">
                  <div class="d-flex justify-content-start pl-2">{{this.SrcProvinceName}}</div>
                </td>
                <td rowspan="9">
                  <div class="d-flex justify-content-start pl-2">{{this.DstProvinceName}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-start pl-2">หิน ดิน ทราย</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P1}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">วัสดุก่อสร้าง</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P2}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">ซีเมนต์</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P3}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">ข้าว</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P4}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">ผลิตภัณฑ์มันสำปะหลัง</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P5}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">ยางพารา</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P6}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">ผักสด/ผลไม้</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P7}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">อาหารแช่แข็ง</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P8}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">ผลิตภัณฑ์น้ำมันเชื้อเพลิง</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">{{this.P9}}</div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="d-flex justify-content-end pr-2">รวมทั้งสิ้น</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">8</div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>    
    </div>
  </body>
</html>