<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset /GCS01/GCS01.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mt-5 mb-3">
        <div class="col-12 table-panel d-flex justify-content-center">
          <table>
            <tbody>
              <tr>
                <td>1. จำนวนรถทั้งหมดที่เข้าสถานี</td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCarIn}} คัน</div>
                </td>
              </tr>
              <tr>
                <td>2. จำนวนรถบรรทุกที่ออกสถานี</td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCarOut}} คัน</div>
                </td>
              </tr>
              <tr>
                <td>3. จำนวนรถตรวจสภาพ</td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCarCheck}} คัน</div>
                </td>
              </tr>
              <tr>
                <td>4. ปริมาณการขนถ่ายสินค้าทั้งหมดผ่านสถานี </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalWeight}} ตัน</div>
                </td>
              </tr>
              <tr>
                <td>5. ข้อมูลรถบรรทุกที่กรอกข้อมูลรับส่งสินค้าผ่านระบบ</td>
                <td>
                  <div class="d-flex justify-content-end"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12 table-panel d-flex justify-content-center">
          <table class="w-75">
            <thead>
              <tr>
                <th></th>
                <th>
                  <div>ส่งสินค้า</div>
                </th>
                <th>
                  <div>รับสินค้า</div>
                </th>
                <th>
                  <div>รับและส่งสินค้า</div>
                </th>
                <th>
                  <div>อื่นๆ</div>
                </th>
                <th>
                  <div>รวม</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>จำนวนรถ (คัน)</td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCars.[0]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCars.[1]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCars.[2]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCars.[3]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalCars.[4]}}</div>
                </td>
              </tr>
              <tr>
                <td>ปริมาณสินค้า (ตัน)</td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalWeights.[0]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalWeights.[1]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalWeights.[2]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalWeights.[3]}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter TotalWeights.[4]}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div
          class="col-5 graph-panel mr-3 d-flex justify-content-center align-items-center"
        >
          <div id="myChart1"></div>
        </div>
        <div class="col-5 graph-panel ml-3 d-flex justify-content-center align-items-center">
            <div id="myChart2"></div>
        </div>
      </div>
    </div>
    {#asset /GCS01/GCS01-chart.js @encoding=utf8}
  </body>
</html>