<html>
    <head>
      <meta charset="UTF-8" />
        <style>
          @font-face {
           font-family: 'THSarabunPSK';
           src: url({#asset ./data/font/THSarabunPSK.ttf @encoding=dataURI});
           format('truetype');
          }

          @font-face {
            font-family: 'THSarabunPSK-Bold';
            src: url({#asset ./data/font/THSarabunPSK-Bold.ttf @encoding=dataURI});
            format('truetype');
          }

          .header {
              display: flex;
              justify-content: flex-start;
              width: 100%;
              font-family: 'THSarabunPSK';
              font-size: 16pt;
          }
          .header-logo {
            width: 130px;
          }
          .header-title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid dimgray;
            width: 100%;
          }
          .header-dept-title, .header-print-title {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .header-report {
            display: flex;
            flex-direction: column;
            text-align: center;
            text-justify: auto;
            margin-top: 20px;
          }
          .header-report-item {
            font-family: 'THSarabunPSK-Bold';
            font-size: 18pt;
          }
        </style>
    </head>
    <body>
        {{#each $pdf.pages}}
          {{#if @index}}
            <div style="page-break-before: always;"></div>
          {{/if}}
          <main class="main"> 
            <header>
              <div class="header">
                <div class="header-logo">
                  <img src="{{asset 'dlt-logo.png' 'dataURI'}}" style="width:92px; height: 92px;"/>
                </div>
                <div class="header-title">
                  <div class="header-dept-title">
                    กรมการขนส่งทางบก Department of Land Transport
                    <br />
                    ระบบควบคุมประตูอัตโนมัติ Gate Control System - GCS
                  </div>
                  <div class="header-print-title">
                    Page: {{getPageNumber @index}} of {{getTotalPages ../$pdf.pages}}
                    <br />
                    วัน-เวลา ที่พิมพ์ {{getDateTimePrint}}
                  </div>
                </div>
              </div>
              <div class="header-report">
                <div class="header-report-item">{{../title}}</div>
                <div class="header-report-item">ข้อมูลระหว่าง {{../startDate}}  - {{../endDate}}</div>
                <div class="header-report-item">สถานี {{../station}}</div>
              </div>
            </header>
          </main>
        {{/each}}
    </body>
</html>