<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <table style="width: 100%">
            <thead>
              <tr>
                <th rowspan="2" style="width: 5%">
                  <div>วันที่</div>
                </th>
                <th colspan="14" style="width: 95%">
                  <div>จำนวนรถรับส่งสินค้าแต่ละประเภท (คัน)</div>
                </th>
              </tr>
              <tr>
                <th>
                  <div>หิน ดิน ทราย</div>
                </th>
                <th>
                  <div>วัสดุก่อสร้าง</div>
                </th>
                <th>
                  <div>ซีเมนต์</div>
                </th>
                <th>
                  <div>ข้าว</div>
                </th>
                <th>
                  <div>ผลิตภัณฑ์มันสำปะหลัง</div>
                </th>
                <th>
                  <div>ยางพารา</div>
                </th>
                <th>
                  <div>ผักสด/ผลไม้</div>
                </th>
                <th>
                  <div>อาหารแช่แข็ง</div>
                </th>
                <th>
                  <div>ผลิตภัณฑ์น้ำมันเชื้อเพลิง</div>
                </th>
                <th>
                  <div style="height: 65px;">สินค้าเบ็ดเตล็ด (โชวห่วย)</div>
                </th>
                <th>
                  <div>อ้อย</div>
                </th>
                <th>
                  <div>เคมีภัณฑ์</div>
                </th>
                <th>
                  <div>สินค้าอุตสาหกรรม (อุปกรณ์คอมพิวเตอร์)</div>
                </th>
                <th>
                  <div>สินค้าอื่นๆ</div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each reportData}}
              <tr>
                <td>
                  <div class="d-flex justify-content-start px-2">{{dateFormatter this.Stamp}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.P1}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.P2}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.P3}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.P4}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.P5}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.P6}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">{{this.P7}}</div>
                </td><td>
                  <div class="d-flex justify-content-center">{{this.P8}}</div>
                </td><td>
                  <div class="d-flex justify-content-center">{{this.P9}}</div>
                </td><td>
                  <div class="d-flex justify-content-center">{{this.P10}}</div>
                </td><td>
                  <div class="d-flex justify-content-center">{{this.P11}}</div>
                </td><td>
                  <div class="d-flex justify-content-center">{{this.P12}}</div>
                </td><td>
                  <div class="d-flex justify-content-center">{{this.P13}}</div>
                </td><td>
                  <div class="d-flex justify-content-center">{{this.P14}}</div>
                </td>
              </tr>
              {{/each}}
              {{#with (SUM reportData)}}
              <tr>
                <td>
                  <div class="d-flex justify-content-start px-2 sum-row">รวม</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{0}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{1}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{2}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{3}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{4}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{5}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{6}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{7}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{8}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{9}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{10}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{11}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{12}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{13}}</div>
                </td>
              </tr>
              {{/with}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>